.hide {
    visibility: hidden;
}

.icon {
    width: 10%;
    height: 10%;
}

.icon-forecast {
    width: 25%;
}

.flex-container {
    display: inline-flex;
    flex-direction: row;
    margin: 1%;
}

.shorter {
    width: 80%;
}

.bold {
    font-weight: bold;
}

.border {
    border-style: solid;
    border-width: 2px;
    border-color: #209CEE;
}